<launch>

  <arg name="marker_size" default="16.55" />
  <arg name="max_new_marker_error" default="0.08" />
  <arg name="max_track_error" default="0.2" />
  <arg name="cam_image_topic" default="/io/internal_camera/head_camera/image_raw" />
  <arg name="cam_info_topic" default="/io/internal_camera/head_camera/camera_info" />
  <arg name="output_frame" default="/head_camera" />
  <arg name="max_frequency" default="10.0" />
  <arg name="marker_resolution" default="5" />
  <arg name="marker_margin" default="2" />
  <arg name="frame_id" default="/head_camera" />

  <arg name="marker_frame" default="13" />


  <param name="marker_frame" value="$(arg marker_frame)" />

  <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame) $(arg max_frequency) $(arg marker_resolution) $(arg marker_margin)" />

  <node name="ar_srv" pkg="ar_marker" type="ar_srv.py"  respawn="false" output="screen" />

  <node name="pnp_srv" pkg="baxter_pnp" type="pnp_srv.py" respawn="false" output="screen" args="joint_states:=/robot/joint_states">
    <param name="hover_distance" value="0.3" />
  </node>

  <node name="shape_detection" pkg="object_detection" type="detect_shapes.py" respawn="false" output="screen">
    <param name="image_topic" value="/io/internal_camera/head_camera/image_raw" />
    <param name="image_frame" value="/head_camera" />
    <param name="cam_info_topic" value="/io/internal_camera/head_camera/camera_info" />
  </node>

  <node name="homography" pkg="homography" type="homography_node2.py"  respawn="false" output="screen">
    <param name="marker_yellow" value="4"/>
    <param name="marker_red" value="12"/>
    <param name="marker_blue" value="12"/>
    <param name="marker_green" value="15"/>
  </node>

</launch>